.button{
    margin-left: auto;
    cursor: pointer;
    align-items: center;
}

.list-container{
    width: 35%;
    margin: 0px auto;
}

.card{
    padding: 8px 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin-bottom: 12px;
    transition: transform .3s;
}

.card:hover {
    transform: scale(1.03); 
}

.heading{
    margin-bottom: 20px;
}

.bold{
    font-weight: bold;
}

.text-container{
    margin-left: 16px;
  
}

