

.button{
    margin-left: auto;
    cursor: pointer;
    align-items: center;
}

.list-container{
    width: 75%;
    margin: 2rem auto;
    
}

.card{
    padding: 8px 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin-bottom: 12px;
    transition: transform .3s;
}

.card:hover {
    transform: scale(1.03); 
}

.heading{
    margin-bottom: 20px;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.bold{
    font-weight: 600;
}

.text-container{
    margin-left: 16px;
    
}

@media (min-width: 768px){
    .list-container{
        width: 35%
    }
}
