.nav-bar{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-left: 15px;
    height: 4rem;
}

.nav-container{
    padding: 10px 15px;
}
.list-item{
    display: flex;
    padding: 10px;
}

.list-title{
    margin-left: 10px;
}